@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; /* Apply Lato globally to ensure consistency */
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #6b7280;
}

h1, h2, h3 {
  font-weight: bold;
}

.container {
  padding: 20px;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
